#
# Configuration file for mapping the proxied hosts
#
# Specifies the mapping between the (ranges of) IP addresses of remote hosts 
#		(configured either for the TAP interface of a remote host running the
#		NetProxy in Host Mode, or for the hosts that belong to the internal
#		network of a remote host running the NetProxy in Gateway Mode) and the
#		NetProxyUniqueID of the NetProxy that is proxying those addresses.
# If a particular instance of NetProxy does not have a NetProxyUniqueID assigned,
#		the 32-bits representation of its IP address can be used instead.
#
# Note that the NetProxyUniqueIDs specified in the entries of this file
#		need to match those listed in the proxyIDs.cfg file
# In addition, specified ranges should never overlap, unless in the case
#		of IP addresses in the multicast/broadcast range.
#
# Format for this file is zero or more entries in the form
#     <RemoteHostIPAddressRange> [<NetProxyUniqueID>]
# without '<' and '>' symbols and without '[' and ']' symbols (square brackets indicate an optional parameter).
#
#
128.49.235.243-254 128.49.235.242
128.49.235.204-237 128.49.235.202
224.0.1.1 128.49.235.242
224.0.1.1 128.49.235.202
#nodeMonitor multicast to ask peers to join
225.0.0.1 128.49.235.242
225.0.0.1 128.49.235.202
